:root{
    --blue : #6c63ff;
    --green : #36CA8E;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
}

body{
    background-color: white;
}

.signup-btn{
    width: 100%;
    border: none;
    outline: none;
    background: var(--green);
    padding: 1.25rem 1rem;
    font-family: Avenir, sans-serif;
    color: white;
    cursor: pointer;
    transition: all ease-in-out .3s;
}

.signup-btn:hover{
    filter: brightness(90%);
}
